In [8]:

def cost_of_trip(days, return_flight, hotel, car):
    total_hotel = hotel * days
    total_car = ((days-1) // 7 + 1) * car
    total = return_flight + total_hotel + total_car
    return total

In [13]:
days = 14
paris = cost_of_trip(
    days=days,
    return_flight=200,
    hotel=20,
    car=200
)
london = cost_of_trip(
    days=days,
    return_flight=250,
    hotel=30,
    car=120
)
dubai = cost_of_trip(
    days=days,
    return_flight=370,
    hotel=15,
    car=80
)
mumbai = cost_of_trip(
    days=days,
    return_flight=450,
    hotel=10,
    car=70
)

print(("Question 1:\nThe cost of Paris for {} days is ${}.\nThe cost of London for {} days is ${}." +
    "\nThe cost of Dubai for {} days is ${}.\nThe cost of Mumbai for {} days is ${}.").format(
        days, paris, days, london, days, dubai, days, mumbai
        ))

Question 1:
The cost of Paris for 14 days is $880.
The cost of London for 14 days is $910.
The cost of Dubai for 14 days is $740.
The cost of Mumbai for 14 days is $730.

In [16]:
Paris = [200, 20, 200, 'Paris']
London = [250, 30, 120, 'London']
Dubai = [370, 15, 80, 'Dubai']
Mumbai = [450, 10, 70, 'Mumbai']
Cities = [Paris, London, Dubai, Mumbai]

def trip_budget(budget,less_days=False):
    days = 1
    cost = 0
    while cost<budget:
        cost_before = cost
        try:
            costs_before=costs.copy()
        except:
            costs_before = {}
        costs = {}
        for city in Cities:
            cost = cost_of_trip(days,city[0],city[1],city[2])
            costs[cost] = city[3]
        if less_days:
            cost = max(list(costs.keys()))
            if cost >= budget:
                return costs_before[cost_before], days -1
        else:
            cost = min(list(costs.keys()))
            if cost >= budget:
                return costs_before[cost_before], days -1

        days += 1

In [22]:
city_to_stay_max_days = trip_budget(7000, True)
city_to_stay_max_days

('Paris', 139)

In [26]:
Paris = [200, 20, 200, 'Paris']
London = [250, 30, 120, 'London']
Dubai = [370, 15, 80, 'Dubai']
Mumbai = [450, 10, 70, 'Mumbai']
Cities = [Paris, London, Dubai, Mumbai]

def budget(budget,maximize_num_of_days=True):
    days = 1
    cost = 0

    while cost < budget:
        previous_cost = cost
        try:
            previous_costs = costs.copy()
        except:
            previous_costs = {}
        costs = {}

        for city in Cities:
            cost = cost_of_trip(days, city[0], city[1], city[2])
            costs[cost] = city[3]
        if maximize_num_of_days:
            cost = min(list(costs.keys()))
            if cost >= budget:
                return previous_costs[previous_cost], days -1
        else:
            cost = max(list(costs.keys()))
            if cost >= budget:
                return previous_costs[previous_cost], days -1
        days += 1

In [30]:
budget(1500, False)

('Paris', 24)